USE [master]
GO

-- Create database with Linux file paths
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'ChessDB')
BEGIN
    CREATE DATABASE [ChessDB]
    CONTAINMENT = NONE
    ON PRIMARY 
    ( NAME = N'ChessDB', FILENAME = N'/var/opt/mssql/data/ChessDB.mdf', SIZE = 8192KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
    LOG ON 
    ( NAME = N'ChessDB_log', FILENAME = N'/var/opt/mssql/data/ChessDB_log.ldf', SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB )
    WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO

-- Configure database settings
ALTER DATABASE [ChessDB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [ChessDB].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO

-- Create chessuser login
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'chessuser')
BEGIN
    CREATE LOGIN chessuser WITH PASSWORD = 'YourStrongPassword123';
END
GO

USE [ChessDB]
GO

-- Create chessuser user
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'chessuser')
BEGIN
    CREATE USER chessuser FOR LOGIN chessuser;
END
GO

-- Grant permissions to chessuser
GRANT EXECUTE ON SCHEMA::dbo TO chessuser;
GRANT SELECT, INSERT, UPDATE, DELETE ON SCHEMA::dbo TO chessuser;
GO

-- Create tables
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
    [MatchID] [int] IDENTITY(1,1) NOT NULL,
    [Player1ID] [int] NOT NULL,
    [Player2ID] [int] NOT NULL,
    [StartTime] [datetime] NULL,
    [EndTime] [datetime] NULL,
    [WinnerID] [int] NULL,
    [CurrentFEN] [nvarchar](100) NULL,
    PRIMARY KEY CLUSTERED 
    (
        [MatchID] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Moves](
    [MoveID] [int] IDENTITY(1,1) NOT NULL,
    [MatchID] [int] NOT NULL,
    [MoveNumber] [int] NOT NULL,
    [PlayerID] [int] NOT NULL,
    [FromSquare] [nvarchar](10) NOT NULL,
    [ToSquare] [nvarchar](10) NOT NULL,
    [CapturedPiece] [varchar](10) NULL,
    [Timestamp] [datetime] NULL,
    [PieceMoved] [varchar](10) NOT NULL,
    [ResultingFEN] [nvarchar](100) NULL,
    PRIMARY KEY CLUSTERED 
    (
        [MoveID] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Players](
    [PlayerID] [int] IDENTITY(1,1) NOT NULL,
    [Username] [nvarchar](50) NOT NULL,
    [CreatedAt] [datetime] NULL,
    [Wins] [int] NULL,
    [Losses] [int] NULL,
    [Draws] [int] NULL,
    PRIMARY KEY CLUSTERED 
    (
        [PlayerID] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
    UNIQUE NONCLUSTERED 
    (
        [Username] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Add constraints
ALTER TABLE [dbo].[Matches] ADD DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[Moves] ADD DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Players] ADD CONSTRAINT [DF_Players_Wins] DEFAULT ((0)) FOR [Wins]
GO
ALTER TABLE [dbo].[Players] ADD CONSTRAINT [DF_Players_Losses] DEFAULT ((0)) FOR [Losses]
GO
ALTER TABLE [dbo].[Players] ADD CONSTRAINT [DF_Players_Draws] DEFAULT ((0)) FOR [Draws]
GO
ALTER TABLE [dbo].[Matches] WITH CHECK ADD CONSTRAINT [FK_Matches_Player1] FOREIGN KEY([Player1ID]) REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Player1]
GO
ALTER TABLE [dbo].[Matches] WITH CHECK ADD CONSTRAINT [FK_Matches_Player2] FOREIGN KEY([Player2ID]) REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Player2]
GO
ALTER TABLE [dbo].[Matches] WITH CHECK ADD CONSTRAINT [FK_Matches_Winner] FOREIGN KEY([WinnerID]) REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Winner]
GO
ALTER TABLE [dbo].[Moves] WITH CHECK ADD CONSTRAINT [FK_Moves_Match] FOREIGN KEY([MatchID]) REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[Moves] CHECK CONSTRAINT [FK_Moves_Match]
GO
ALTER TABLE [dbo].[Moves] WITH CHECK ADD CONSTRAINT [FK_Moves_Player] FOREIGN KEY([PlayerID]) REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[Moves] CHECK CONSTRAINT [FK_Moves_Player]
GO

-- Stored procedures
CREATE PROCEDURE [dbo].[AddMove]
    @MatchID INT,
    @MoveNumber INT,
    @PlayerID INT,
    @PieceMoved NVARCHAR(50) = '',
    @FromSquare NVARCHAR(10) = '',
    @ToSquare NVARCHAR(10) = '',
    @CapturedPiece NVARCHAR(50) = NULL,
    @ResultingFEN NVARCHAR(100) = '',
    @MoveID INT OUTPUT,
    @ResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @PieceMoved = ISNULL(@PieceMoved, '');
    SET @FromSquare = ISNULL(@FromSquare, '');
    SET @ToSquare = ISNULL(@ToSquare, '');
    SET @ResultingFEN = ISNULL(@ResultingFEN, '');
    SET @ResultCode = 0;
    IF NOT EXISTS (SELECT 1 FROM Matches WHERE MatchID = @MatchID)
    BEGIN
        SET @ResultCode = 1;
        RETURN;
    END
    IF NOT EXISTS (SELECT 1 FROM Players WHERE PlayerID = @PlayerID)
    BEGIN
        SET @ResultCode = 2;
        RETURN;
    END
    IF NOT EXISTS (SELECT 1 FROM Matches WHERE MatchID = @MatchID AND @PlayerID IN (Player1ID, Player2ID))
    BEGIN
        SET @ResultCode = 3;
        RETURN;
    END
    BEGIN TRY
        INSERT INTO Moves (MatchID, MoveNumber, PlayerID, PieceMoved, FromSquare, ToSquare, CapturedPiece, ResultingFEN, [Timestamp])
        VALUES (@MatchID, @MoveNumber, @PlayerID, @PieceMoved, @FromSquare, @ToSquare, @CapturedPiece, @ResultingFEN, GETUTCDATE());
        SET @MoveID = SCOPE_IDENTITY();
        SET @ResultCode = 0;
        UPDATE Matches SET CurrentFEN = @ResultingFEN WHERE MatchID = @MatchID;
    END TRY
    BEGIN CATCH
        SET @ResultCode = ERROR_NUMBER();
        SET @MoveID = -1;
    END CATCH
END
GO

CREATE PROCEDURE [dbo].[CreateMatch]
    @Player1ID INT,
    @Player2ID INT,
    @CurrentFEN NVARCHAR(100),
    @MatchID INT OUTPUT,
    @ResultCode INT OUTPUT
AS
BEGIN
    INSERT INTO Matches (Player1ID, Player2ID, StartTime, CurrentFEN)
    VALUES (@Player1ID, @Player2ID, GETDATE(), @CurrentFEN);
    SET @MatchID = SCOPE_IDENTITY();
    SET @ResultCode = 0;
END
GO

CREATE PROCEDURE [dbo].[CreatePlayer]
    @Username NVARCHAR(100),
    @PlayerID INT OUTPUT,
    @ResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF @Username IS NULL OR LTRIM(RTRIM(@Username)) = ''
    BEGIN
        SET @ResultCode = 1;
        RETURN;
    END
    BEGIN TRY
        INSERT INTO Players (Username)
        VALUES (@Username);
        SET @PlayerID = SCOPE_IDENTITY();
        SET @ResultCode = 0;
    END TRY
    BEGIN CATCH
        SET @ResultCode = 2;
    END CATCH
END
GO

CREATE PROCEDURE [dbo].[GetAllMatches]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MatchID, Player1ID, Player2ID, WinnerID, StartTime, EndTime, CurrentFEN
    FROM Matches
    ORDER BY StartTime DESC;
END
GO

CREATE PROCEDURE [dbo].[GetAllPlayers]
AS
BEGIN
    SELECT PlayerID, Username, Wins, Losses, Draws
    FROM Players
    ORDER BY Username;
END
GO

CREATE PROCEDURE [dbo].[GetMatch]
    @MatchID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MatchID, Player1ID, Player2ID, WinnerID, StartTime, EndTime, CurrentFEN
    FROM Matches
    WHERE MatchID = @MatchID;
END
GO

CREATE PROCEDURE [dbo].[GetMatchHistory]
    @MatchID INT
AS
BEGIN
    SELECT m.MatchID, 
           p1.Username AS Player1, 
           p2.Username AS Player2,
           m.StartTime,
           m.EndTime,
           w.Username AS Winner,
           t.MoveNumber AS TurnNumber,
           t.PlayerID,
           tp.Username AS TurnPlayer,
           t.FromSquare + '-' + t.ToSquare AS Move,
           t.Timestamp
    FROM Matches m
    JOIN Players p1 ON m.Player1ID = p1.PlayerID
    JOIN Players p2 ON m.Player2ID = p2.PlayerID
    LEFT JOIN Players w ON m.WinnerID = w.PlayerID
    LEFT JOIN Moves t ON m.MatchID = t.MatchID
    LEFT JOIN Players tp ON t.PlayerID = tp.PlayerID
    WHERE m.MatchID = @MatchID
    ORDER BY t.MoveNumber ASC;
END
GO

CREATE PROCEDURE [dbo].[GetMovesForMatch]
    @MatchID INT,
    @ResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @ResultCode = 0;
    IF NOT EXISTS (SELECT 1 FROM Matches WHERE MatchID = @MatchID)
    BEGIN
        SET @ResultCode = 1;
        RETURN;
    END
    SET @ResultCode = 0;
    SELECT MoveID, MatchID, MoveNumber, PlayerID, PieceMoved, FromSquare, ToSquare, CapturedPiece, Timestamp, ResultingFEN
    FROM Moves
    WHERE MatchID = @MatchID
    ORDER BY MoveNumber ASC;
END
GO

CREATE PROCEDURE [dbo].[GetPlayer]
    @PlayerID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT PlayerID, Username, Wins, Losses, Draws
    FROM Players
    WHERE PlayerID = @PlayerID;
END
GO

CREATE PROCEDURE [dbo].[MatchIsDraw]
    @MatchID INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Player1ID INT, @Player2ID INT;
    SELECT 
        @Player1ID = Player1ID,
        @Player2ID = Player2ID
    FROM Matches
    WHERE MatchID = @MatchID;
    IF @Player1ID IS NULL OR @Player2ID IS NULL
    BEGIN
        SET @Result = 1;
        RETURN;
    END
    UPDATE Matches
    SET 
        WinnerID = NULL,
        EndTime = GETDATE()
    WHERE MatchID = @MatchID;
    UPDATE Players
    SET Draws = ISNULL(Draws, 0) + 1
    WHERE PlayerID IN (@Player1ID, @Player2ID);
    SET @Result = 0;
END
GO

CREATE PROCEDURE [dbo].[UpdateMatchWinner]
    @MatchID INT,
    @WinnerID INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @LoserID INT;
    IF NOT EXISTS (SELECT 1 FROM Matches WHERE MatchID = @MatchID)
    BEGIN
        SET @Result = 1
        RETURN
    END
    IF NOT EXISTS (SELECT 1 FROM Players WHERE PlayerID = @WinnerID)
    BEGIN
        SET @Result = 2
        RETURN
    END
    IF NOT EXISTS (SELECT 1 FROM Matches WHERE MatchID = @MatchID AND (Player1ID = @WinnerID OR Player2ID = @WinnerID))
    BEGIN
        SET @Result = 3
        RETURN
    END
    SELECT 
        @LoserID = CASE 
                       WHEN Player1ID = @WinnerID THEN Player2ID 
                       ELSE Player1ID 
                   END
    FROM Matches
    WHERE MatchID = @MatchID;
    UPDATE Matches
    SET WinnerID = @WinnerID,
        EndTime = GETDATE()
    WHERE MatchID = @MatchID
    UPDATE Players
    SET Wins = ISNULL(Wins, 0) + 1
    WHERE PlayerID = @WinnerID;
    UPDATE Players
    SET Losses = ISNULL(Losses, 0) + 1
    WHERE PlayerID = @LoserID;
    SET @Result = 0
END
GO

USE [master]
GO